body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EAF7FF;
  color: #000000;
}

input,
textarea,
button {
  font-family: "Roboto", sans-serif;

}

a {
  color: #000000;
  text-decoration: none;
}

nav a:hover,
.exit:hover {
  border-radius: 4px;
  background-color: #000000;
  color: #8FF2FF;
  border: 1px solid #8FF2FF;
  padding: 3px;
}

.active {
  font-weight: bold;
}

ul {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label span {
  font-weight: bold;
  margin-bottom: .5em;
  color: #000000;
  font-size: .7em;
}

input {
  background-color: #8FF2FF;
  color: #000000;
  border: 1px solid #555;
  border-radius: 2px;
  padding: 10px 8px;
  outline: none;
  margin-bottom: .6em;
}

input::placeholder {
  color: #000000;
  opacity: 0.5;
}

.btn,
button, 
input[type="submit"] {
  background-color: #8FF2FF;
  color: #000000;
  border-radius: 4px;
  padding: 8px 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

input[type="submit"] {
  margin-top: 1em;
}

input:disabled {
  cursor: not-allowed;
  background-color: black;
}

button:hover,
input[type="submit"]:hover {
  background-color: #000000;
  color: #8FF2FF;
  border: 1px solid #8FF2FF;
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
}

div .delete-button {
  border-radius: 10px;
  background-color: #FF9B9B;
  border: none;
  width: 160px;
  height: 30px;
  padding-top: 5px;
  margin-top: 40px;
  margin-right: 5px;
}

div .delete-button:hover {
  color: #FF9B9B;
  background-color: black;
  border: 1px solid #FF9B9B;
  padding: 0;
}

.add-button {
  text-align: center;
}